@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@500&display=swap');

* { box-sizing: border-box; }

body { margin: 0; }

p, 
a, 
input,
textarea,
button,
label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #060606;
  margin: 0;
}

a { text-decoration: none; }

h1, 
h2, 
h3,
h4 
{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #2f4858;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  line-height: 71px;
}

h2 {
  font-size: 30px;
  line-height: 44px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 18px;
  line-height: 26.68px;
  text-transform: none;
}

button {
  width: 233px;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: #ffa800;
  color: white;
}

button:hover {
  background-color: #ffda16;
}

button:active {
  background-color: #ff8a00;
}

.scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  border: none;
  outline: none;
  width: 50px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
}

.scroll-up.js-sticky {
  position: absolute;
  bottom: 20px;
}

.space {
  margin-top: 55px;
}

.spacing {
  margin-top: 30px;
}

.pad-bottom {
  padding-bottom: 75px;
}

.content {
  margin-top: 50px;
}

@media only screen and (max-width:1350px){
  .content {
    margin-top: 0;
  }
}

@media only screen and (max-width:450px){


  h1 {
    font-size: 36px;
    line-height: 53px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .column.narrow h2 {
    font-size: 18px;
    line-height: 27px;
  }


  body .large p {
    font-size: 18px;
    line-height: 22px;
  }

  .content.large p {
    font-size: 14px;
    line-height: 17px;
  }

  .content .space {
    margin-top: 30px;
  }
}





/* Navigation section */

.container {
  position: relative;
  width: 100%;
  height: fit-content;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 99;
  background-color: white;
}

.nav-container::after {
  content:" ";
  display:block;
  height: 45px;
  background-image: url("../img/ripped.png");
  position:absolute;
  bottom:-45px;
  width:100%;
  z-index: -2;  
}

.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  float: left;
  max-width: 159px;
  margin: 0 62px;
}

.menu-items { margin: 40px 50px 0 0; }

.menu-items ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item-list li {
  position: relative;
  display: inline;
  float: left;
  z-index: 9999;
  padding: 3px;
  margin: 10px 16px;
}

.menu-items a {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; 
  color: #060606;
}

.menu-item.js-active { border-bottom: 3px solid #ffa800; }

.menu-item.js-active a{ font-weight: bold; }

.lng-select {
  background-color: white;
  padding-left: 25px;
}

.lng-select li{
  display: none;
  padding: 3px;
  margin: 10px 16px;
}

.lng.js-selected { display: block; }

.lng-select:hover .lng{ display: block; }

a.nav-open-btn, 
a.nav-close-btn {
  display: none;
  font-size: 2em;
  cursor: pointer;
  margin: auto 60px;
}

@media only screen and (max-width:1350px){
  .logo img { width: 128px; }
  
  .nav-container { height: 55px; }

  a.nav-open-btn { display: block; }

  .menu { padding: 0 20px; }

  .menu-items {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 165px 0;
    z-index: -1;
    overflow-y: auto;
    background-color: white;
  }

  .menu-items ul {
    float: none;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20%;
  }

  .menu-items a { font-size: 24px; }

  .menu-item-list {
    flex-direction: column;
    align-items: center;
  }

  .menu-item-list li { margin: 38px 0; }

  .lng.js-selected { border-bottom: 3px solid #ffa800; }

  .lng.js-selected a{ font-weight: bold; }

  .lng-select li {
    display: block;
    float: left;
  }

  body .video-container { top: 0; }
}

@media only screen and (max-width:600px){
  p, a{
    font-size: 12px;
    line-height: 15px;
  }

  .scroll-up {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  body .container-inner .row {
    margin: 0;
    padding: 20px 0;
  }
  
  body .container .container-inner { margin: 60px 20px; }

  .logo img { width: 110px; }

  .logo { margin: 0 20px; }

  a.nav-open-btn, 
  a.nav-close-btn {
  font-size: 1.5em;
  margin: auto 20px;
  }

  .nav-container { height: 45px; }

  
  .nav-container::after {
    height: 40px;
    bottom:-40px;
  }

  .menu { padding: 0 10px; }

  .overlay-btn img{ max-width: 100px; }

  .menu-items a { font-size: 18px; }

  .menu-items { padding: 70px 0; }

  .menu-items ul { margin: 5px 20%; }

  .menu-item-list li { margin: 15px 0; }
}

@media only screen and (max-width:350px){

  .nav-container::after {
    height: 40px;
    bottom:-15px;
  }

  .logo img { width: 78px; }

  .menu { padding: 0 10px; }

  .overlay-btn img{ max-width: 50px; }
}

/* Intro video section */

.container .intro-img {
  width: 100%;
  height: auto;
}

.video-container {
  top: -33px;
  z-index: 1;
}

.overlay-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.content p {
  color: #2f4858;
  text-align: center;
}

.large p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.video-section { margin-bottom: -43px; }

.video-overlay.closed { display: none; }

.video-overlay.show { display: block; }

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(47,72,88,0.9);;
  text-align: center;
}

.video-frame { margin: 12% auto; }

.video-overlay iframe {
  margin: 0;
  width: 800px;
  height: 450px;
}

.video-overlay a {
  position: absolute;
  top: 100px;
  right: 100px;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.video-label {
  color: #fff;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  margin-top: 8px;
}

@media only screen and (max-width:1350px) {
  .video-section { margin-bottom: 0; }

  body .container-inner { margin: 135px 20px 87px 20px; }

  body .row { margin: 0 60px 47px 60px; }

  body .row-wide { margin: 0 60px 47px 60px; }

  .video-overlay a {
    top: 80px;
    right: 80px;
  }
}

@media only screen and (max-width:1024px) {
  .video-overlay a {
    top: 50px;
    right: 50px;
    font-size: 1.5em;
  }

  .video-overlay iframe {
    width: 700px;
    height: 395px;
  }
}

@media only screen and (max-width:850px) {
  .video-overlay iframe {
    width: 600px;
    height: 340px;
  }
}

@media only screen and (max-width:600px) {
  .video-overlay a {
    top: 25px;
    right: 25px;
    font-size: 1.2em;
  }

  .video-frame { margin-top: 65px; }
  
  .video-overlay iframe {
    width: 100%;
    height: 335px;
  }
  .video-label {
    font-size: 24px;
    line-height: 36px;
  }
}

@media only screen and (max-width:450px) {
  .video-overlay iframe {
    width: 100%;
    height: 260px;
  }
}

/* Gallery section */

.ripped-edges::before {
  content: " ";
  display:block;
  height: 40px;
  background-image: url("../img/ripped.png");
  object-fit: cover;
  position:absolute;
  width:100%;
}

.ripped-edges::after {
  content: " ";
  display:block;
  height: 40px;
  background-image: url("../img/ripped-flipped.png");
  position:absolute;
  width:100%;
  bottom: 0;
}


.gallery1 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 24% 24.45% 21.82% auto;
  -ms-grid-columns: 24% 24.45% 21.82% auto;
  grid-template-rows: repeat(2, auto);
  -ms-grid-rows: 1fr 1fr;
  grid-gap: 0;
  padding-top: 15px;
}

.gallery2 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 21.5% 21.5% 22% auto;
  -ms-grid-columns: 21.5% 21.5% 22% auto;
  grid-template-rows: repeat(2, auto);
  -ms-grid-rows: 1fr 1fr;
  grid-gap: 0;
  padding-top: 15px;
}

.gallery_item-1 img,
.gallery_item-2 img,
.gallery_item-3 img,
.gallery_item-4 img,
.gallery_item-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 0;
}

.gallery1 .gallery_item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 0;
}

.gallery2 .gallery_item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
}

.gallery1 .gallery_item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
}

.gallery2 .gallery_item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
}

.gallery1 .gallery_item-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
}

.gallery2 .gallery_item-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 0;
}

.gallery_item-5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 0;
}

@media only screen and (max-width:600px){
  .gallery1 {
    grid-template-columns: 42.5% 7.5% auto;
    -ms-grid-columns: 42.5% 7.5% auto;
    grid-template-rows: repeat(4, auto);
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    padding-top: 25px;
  }

  .gallery2 {
    grid-template-columns: 38.4% 10.3% auto;
    -ms-grid-columns: 38.4% 10.3% auto;
    grid-template-rows: repeat(4, auto);
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    padding-top: 25px;
  }

  .gallery1 .gallery_item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .gallery1 .gallery_item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .gallery1 .gallery_item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gallery1 .gallery_item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery1 .gallery_item-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery2 .gallery_item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .gallery2 .gallery_item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery2 .gallery_item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .gallery2 .gallery_item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .gallery2 .gallery_item-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

/* More section */

.container-inner {
  margin: 135px 150px 87px 150px;
  overflow: hidden;
}

.close-bottom {
  margin-bottom: 0;
}

.close-top {
  margin-top: 0;
}

.row {
  margin: 0 202px 47px 209px;
  padding: 21px 0;
}

.row-wide {
  margin: 0 100px 47px 100px;
  padding: 21px 0;
}

.column {
  display: inline;
  float: left;
  width: 50%;
  text-align:center}

.btn-more { margin-top: 20px; }

@media only screen and (max-width:1024px) {
  .col-more h3{
    font-size: 18px;
    width: 233px;
    height: 85px;
    margin: auto;
  }

  .col-more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
}

@media only screen and (max-width:600px){
  .column {
    display: block;
    width: 100%;
    margin: 30px 0;
  }

  .col-more h3 {
    height: auto;
    width: 100%;
  }

  .btn-more { margin-top:30px; }
}

/* Form section */

.container-form { margin-top: 0; }

.form-container::after {
  content:" ";
  display:block;
  height: 45px;
  background-image: url("../img/ripped-flipped-orange.png");
  position:absolute;
  bottom: 0;
  width:100%;
}

textarea {
  resize: none;
  width: 100%;
}

.row-form {
  display: block;
  margin: 0 auto 35px auto;
  padding: 21px 0;
  text-align: center;
}

.input-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  text-align: left;
  width: 612px;
}

#flname,
#email {
  display: inline-block;
  width: 48.3%;
}

#flname { margin-right: 15px; }

#organization,
#phone,
#message { width: 100%; }

#message {
  height: 13em;
  margin-bottom: 9px;
}

.input-form input,
.input-form textarea {
  background-color: rgba(196,196,196,0.4);
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
  margin-bottom: 15px;
  padding: 11px;
  cursor: pointer;
}

.form-msg {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

#privacy-chk,
label.form-msg { display: inline-block; }

label.form-msg {
  width: 90%;
  text-align: left;
}

#privacy-chk {
	-webkit-appearance: none;
	background-color: rgba(196,196,196,0.4);
	border: none;
	padding: 8px;
	border-radius: 3px;
	position: relative;
  margin-top: 0;
  margin-right: 20px;
  vertical-align: top;
}

#privacy-chk:active, #privacy-chk:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#privacy-chk:checked:after {
	content: '\2717';
  font-size: 17px;
	position: absolute;
	top: 0px;
	left: 1px;
	color: #060606;
}

.row-privacy { margin-top: 32px; }

.container-submit { text-align: center; }

button.btn-submit {
  width: 182px;
  height: 62px;
  font-size: 24px;
  margin: 52px 0 20px 0;
}

.affirmation-message {
  font-family: 'Montserrat', sans-serif;
  color: #ffa800;
  text-align: center;
  text-transform: none;
}

.form-filled {
  display: none;
  margin-top: 35px;
  margin-bottom: 60px;
}


@media only screen and (max-width:1350px) {
  body .container-logo img { max-height: 70px; }

  body .container-logo img:last-child { max-height: 105px; }

  body .close-top {
    margin-top: 0;
  }

  body .close-bottom {
    margin-bottom: 0;
  }
}

@media only screen and (max-width:1024px) {
  body .container .container-form {
    
    margin: 0 20px 60px 20px;

  }

  body .row-privacy { margin-top: 10px; }
  
  body .bfr-footer {
    padding-top: 0;
    padding-bottom: 20px;
  }

  body .container-logo img { max-height: 47px; }

  body .container-logo img:last-child { max-height: 70px; }
  
  body .row-bfr-footer {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  body .container-logo { padding-top: 0; }
}

@media only screen and (max-width:770px){
  .input-form { width: 100%; }

  #flname, #email {
    width: 48%;
}
}


@media only screen and (max-width:650px){
  .container-form h2 { font-size: 24px; }

  .input-form { width: 100%; }
  
  .input-form input,
  .input-form textarea { font-size: 14px; }
  
  .input-form p,
  .input-form label {
    font-size: 12px;
  }

  #flname,
  #email {
    display: block;
    width: 100%;
  }

  label.form-msg { width: 83%; }

  button.btn-submit {
    width: 140px;
    height: 48px;
    font-size: 18px;
  }

  
  body .container-logo img {
    max-height: 40px;
    margin: 10px 0;
  }

  body .container-logo img:last-child {
    max-height: 60px;
    margin-right: 30px;
  }

  body .container-logo { flex-wrap: wrap; }
}

/* Ideja page image section */

.ideja-image-section {
  height: 690px;
  background-image: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%),
    url('../img/Juris_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ideja-image-section p,
.colored-section p {
  color: #fff;
  font-family: Oswald;
  font-size: 24px; 
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.ideja-image-section .container-inner,
.colored-section .container-inner {
  position: absolute;
  bottom: -60px;
}

.gallery-container {
  margin: 150px 0 100px 0;
}

.slider-row {
  padding: 100px 22%;
}

.slider-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  text-transform: none;
}

.slider-intro {
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.slider-content {
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
}

@media only screen and (max-width:1350px){
  .gallery-container {
    margin-top: 90px;
  }

  .gallery-container.gal2 {
    margin-top: 0;
  }
}

@media only screen and (max-width:800px){
  .ideja-image-section {
    height: 499px;
    background-position: 50%;
  }

  .slider-section .container-inner {
    margin-top: 20px;
  }

  .slider-row {
    padding: 100px 8%;
  }
  
  .row-wide {
    padding: 9px 0;
  }

  .info-section.short .row {
    margin-bottom: 0;
    padding: 0;
  }

  .info-section.goals .container-inner {
    margin-top: 125px;
  }
}

@media only screen and (max-width:600px){

  .ideja-image-section {
    background-position: 65%;
  }

  .ideja-image-section p,
  .colored-section p {
    font-size: 18px; 
    line-height: 26px;
  }

  body .colored-section p {
    line-height: 22px;
  }

  .info-section.goals .container-inner {
    margin-top: 80px;
  }

  .slider-row {
    padding: 60px 20px;
  }

  .slider-heading {
    font-size: 18px;
    line-height: 27px;
  }
  
  .slider-intro {
    font-size: 14px;
    line-height: 17px;
  }
  
  .slider-content {
    font-size: 12px;
    line-height: 15px;
  }
}

/* Colored info section */

.colored-section {
  height: 543px;
  background-color: #ffcb66;
  text-align: center;
}

.colored-section p {
  font-family: 'Montserrat';
  line-height: 29px;
}

.row-wide img {
  height: 257px;
  margin-bottom: 40px;
}

@media only screen and (max-width:600px){

  body .row-wide {
    margin: 0 0 70px 0;
  }

  .row-wide img {
    height: 180px;
    margin-bottom: 25px;
  }

  .colored-section {
    height: 471px;
  }
}


/* Piesaki sapni section */

.column.narrow {
  width: 394px;
}

.column.narrow p {
  height: 200px;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 18px; */
}

.how-section .flex-row {
  padding-top: 30px;
}

.white-space {
  display: none;
}

@media only screen and (max-width:800px){
  .flex-row {
    display: block;
    padding-top: 18px;
  }

  .how-section .flex-row {
    padding-top: 30px;
  }

  .column.narrow {
    display: inline-block;
    width: 100%;
  }

  .column.narrow.large {
    width: 50%;
  }

  .column.narrow p {
    height: auto;
    margin-bottom: 40px;
  }

  .column.narrow.large p {
    height: 200px;
    font-size: 18px;
    padding: 0 15%;
  }

  .column.narrow.large img {
    height: 100px;
  }

  .white-space {
    display: inline-block;
    height: 145px;
    width: 100%;
  }

}

@media only screen and (max-width:600px){
  .column.narrow.large {
    width: 100%;
  }

  .column.narrow.large p {
    height: auto;
    margin-bottom: 0;
    padding: 0 5%;
  }
  
  .column.narrow p {
    margin-bottom: 20px;
  }

  .white-space {
    height: 20px;
  }
}

/* Goals section */

.row.goals {
  margin: 0 auto;
  width: 935px;
  padding-top: 0;
}

.goals img {
  width: 150px;
}

.goals p {
  width: 500px;
}

.row-left {
  margin-left: 212px;
  float: left;
}

.row-right {
  margin-right: 212px;
  float: right;
}

.row-left, 
.row-right {
  height: 150px;
  width: 720px;
  margin-top: 100px; 
  display: table-cell;
  vertical-align: middle;
}

.row-right img {
  margin-left: 67px;
}

.row-right img,
.row-right p {
  float: inherit;
}

.row-left img {
  margin-right: 62px;
}

.row-left img,
.row-left p {
  float: inherit;
}

@media only screen and (max-width: 800px) {
  .row.goals {
    width: 600px;
  }

  .row-left {
    margin-left: 30px;
  }
  
  .row-right {
    margin-right: 30px;
  }

  .row-right img {
    margin-left: 70px;
  }
  
  .row-left img {
    margin-right: 70px;
  }

  .goals p {
    width: 353px;
  }
}

@media only screen and (max-width: 650px) {
  .row.goals {
    width: 100%;
  }

  .row-left, 
  .row-right {
    width: 100%;
    margin-top: 60px;
    display: block;
    text-align: center;
    float: none;
    height: auto;
  }

  .goals img {
    width: 118px;
  }

  .row-left {
    margin-left: 0;
  }
  
  .row-right {
    margin-right: 0;
  }

  .row-right img {
    margin-left: 0;
  }
  
  .row-left img {
    margin-right: 0;
  }

  .goals p {
    width: 100%;
    margin-top: 20px;
  }


  /* .row-left {
    margin-left: 30px;
  }
  
  .row-right {
    margin-right: 30px;
  }

  .row-right img {
    margin-left: 70px;
  }
  
  .row-left img {
    margin-right: 70px;
  }

  .goals p {
    width: 353px;
  } */
}


/* Grid section */

.grid-container {
  margin: 0 auto;
  width: 1030px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 14px;
}

.grid-container div {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/color-1845394.png");
  opacity: .6;
}

.grid-container div:hover::before {
  opacity: 1;
}

.grid-container div:hover h3 {
  display: block;
}

.grid-container h3 {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  color: #fff;
  text-transform: none;
}

.grid-container h4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 140px;
  height: 60px;
  margin: auto;
  color: #fff;
}

.grid-container p {
  position: absolute;
  bottom: 0;
  right: 14px;
  color: #fff;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 33px;
  text-align: right;
  z-index: 1;
}

.grid-container .js-hidden {
  display: inline-block;
}

.unavailable {
  background-image: url("../img/color-1845394.png");
}

.grid-container .unavailable::before {
  content: none;
}

.btn-show-more {
  display: none;
}

.row-team {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.col-team {
  height: 365px;
  width: 289px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}


.col-team .team-info {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: 260px;
  text-align: center;
}

.team-info p, .team-info h3 {
  color: #fff;
  line-height: 21.94px;
  margin: 5px 0;
  text-transform: none;
}

#juris {
  background-image: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/Juris_2.jpg);
}

#girts {
  background-image: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/Girts.jpg);
}

#janis {
  background-image: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%), url(../img/Janis.jpg);
}


@media only screen and (max-width:1350px) {
  .grid-container {
    width: 856px; 
    grid-template-columns: auto auto auto auto auto;
  }
}

@media only screen and (max-width:1150px) {
  .grid-container {
    width: 676px; 
    grid-template-columns: auto auto auto auto;
    grid-gap: 12px;
  }

  body .grid-section .row-edge {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media only screen and (max-width:800px) {

  .grid-container {
    width: 596px;
  }

  .grid-container .js-hidden {
    display: none;
  }

  .grid-container .js-shown {
    display: inline-block;
  }

  .btn-show-more {
    display: block;
    margin: 50px auto;
  }

  .grid-container div {
    width: 140px;
    height: 140px;
  }

  .row-team {
    display: block;
    margin-bottom: 150px;
    margin-top: 70px;
  }

  .col-team {
    height: 435px;
    width: 345px;
    margin: 20px auto;
  }

  .col-team .team-info {
    width: 348px;
  }
}

@media only screen and (max-width:700px) {

  .grid-container {
    width: 444px; 
    grid-template-columns: auto auto auto;
  }

  body .grid-section .row-edge,
  body .info-section.team .row-edge {
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media only screen and (max-width:450px) {

  .grid-container {
    width: 271px; 
    grid-template-columns: auto auto;
    grid-gap: 11px;
  }

  .grid-container div {
    width: 130px;
    height: 130px;
  }

  h4 {
    font-size: 14px;
  }

  .grid-container h3 {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    color: #fff;
    text-transform: none;
  }
  
  .grid-container h4 {
    width: 120px;
    height: 60px;
  }

  .row-edge,.pad-bottom {
    padding-bottom: 0;
  }

  .info-section.team p {
    font-size: 14px;
  }

  .col-team {
    height: 354px;
    width: 280px;
    margin: 20px auto;
  }

  .col-team .team-info {
    width: 270px;
  }
}

/* Map section */

.map-container {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.gm-control-active {
  color: #ffa800;
}


/* Before footer section */

.bfr-footer {
  margin-top: 0;
  padding-top: 22px;
  padding-bottom: 95px;
  background-color: #ffcb66;
  overflow: hidden;
}


body .row-edge {
  margin-left: 12%;
  margin-right: 12%;
}

.container-logo {
  display: flex;
  padding-top: 38px;
  justify-content: space-between;
  align-items: center;
}

.container-logo img { max-height: 80px; }

.container-logo img:last-child { max-height: 120px; }

/* Footer section */

.footer::before {
  content:" ";
  display:block;
  height: 45px;
  background-image: url("../img/ripped-flipped-blue.png");
  position:absolute;
  top: -45px;
  width:100%;
}

.container.footer { background-color: #2f4858; }

body .row-footer {
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-bottom: 0;
  padding-top: 40px;
}

.row-footer .inner-row {
  display: flex;
  justify-content: space-between;
}

.row-footer .col {
  display: inline-block;
  width: 27%;
  vertical-align: top;
}

.footer p,
.footer a{
  color: white;
  padding-bottom: 0.6em;
}

.col.col-logo { width: 25%; }

.col-menu a {
  display: block;
  padding-bottom: 1.2em;
  color: white;
}

.col.col-menu { width: 20%; }

.footer h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  color: white;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
}

.col-bank h3 { text-align: left; }

.col-info h3{ text-align: right; }

.col-info { text-align: right; }

.lower-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;

} 

.footer .lower-row p,
.footer .lower-row a {
  font-size: 14px;
  line-height: 17px;
  width: 50%;
}

.lower-row .right { text-align: right; }

.inner-row i {
  font-size: 2.2em;
  margin: 40px 0 10px 18px;
  color: white;
  cursor: pointer
}

i.fab.fa-facebook-f { font-size: 1.9em; }

.open-prop {
  display: none;
  font-weight: bold;
}

@media only screen and (max-width:1430px) {
  .footer p,
  .footer a { font-size: 14px; }
}

@media only screen and (max-width:1024px) {
  .row-footer .col-bank,
  .row-footer .col-menu { display: none; }

  .row-footer .col-info { width: 70%; }

  .col-logo img { max-height: 160px; }

  body .row-footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  .footer p,
  .footer a { font-size: 18px; }

  .footer .lower-row p,
  .footer .lower-row a { font-size: 16px; 
  }

  .open-prop { display: block; }

  .inner-row i {
    font-size: 1.8em;
    margin: 40px 0 10px 30px;
  }

  i.fab.fa-facebook-f { font-size: 1.6em; }
}

@media only screen and (max-width:600px) {
  .footer p,
  .footer a {
    font-size: 12px;
    margin: 5px 0;
  }

  .row-footer .inner-row { display: block; }

  .row-footer .col-logo,
  .row-footer .col-info {
    display: block;
    width: 100%;
    text-align: left;
  }

  .col-logo img { max-height: 100px; }

  .col-info h3 {
    font-size: 18px;
    text-align: left;
    margin: 20px 0
  }

  .inner-row i {
    font-size: 2em;
    margin: 20px 0 20px 30px;
  }

  i.fab.fa-facebook-f {
    font-size: 1.8em;
    margin-left: 0;
  }

  .lower-row { display: block; }

  .footer .lower-row p, 
  .footer .lower-row a {
    display: block;
    width: 100%;
    font-size: 11px;
  }
  .lower-row .right { text-align: left; }
}

/* 404 page */

.container-404 {
  height: 100%;
}

.error-container {
  padding: 190px 150px;
  background-color: #ffcb66;
  text-align: center;
}

.error-container h1 {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 142px;
  margin-bottom: 0;
  color: #fff;
}

.error-container h3 {
  font-weight: bold;
  text-transform: none;
}

.error-container button {
  margin-top: 50px;
  color: #ffa800;
  background-color: #fff;
}

.error-container button:hover {
  background-color: #ff8a00;
  color: #fff;
}

.error-container button:active {
  background-color: #ff8a00;
}